.about-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aqua;
    background-color: beige;
    padding: 20px;
} 

.about-me h1 {
    display: inline;
    font-size: 24px;
}

.about-me div {
    margin-right: 20px;
    float: right;
    font-size: 15px;
}
.about-me div ul {
    list-style-type: none;
}

.about-me div ul li {
    display: inline-block;
    margin-left: 25px;
}

.col-sm-12 {
    padding: 20px;
}

.row div {
    color: teal;
    font-size: 24px;
}

.pull-left {
    float: left;
    overflow-wrap: normal;
}
