.body {
    background-color: black;
}

.jumbotron {
    background-image: url("blue-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4 {
    color: wheat;
}

.word-wrap {
    color: seashell;
    overflow-wrap: normal;
}

.my-4 {
    color: linen;
    overflow-wrap: normal;
}

.container {
    color: aliceblue;
}
